.App {
  text-align: center;
  background-image: URL("./Images/bg.png");
  height: 100vh;
}

nav {
  border-bottom: 1px solid black;
  text-align: center;
}

footer {
  border-top: 1px solid black;
  text-align: center;
}

nav ul li {
  display: inline-block;
  margin: 10px;
  align-items: center;
  font-size: larger;
}

a {
  text-decoration: none;
  color: black;
}

.Home,
.About {
  height: 75vh;
  width: 100vw;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;
}

.wrapper {
  /* display: inline-grid;
  grid-column-gap: 50px; */
  /* display: grid;
  grid-template-columns: repeat(3, 1fr); */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.countries {
  background-color: white;
  box-shadow: 0 0 5px grey;
  border: solid black;
  border-width: 1px;
  margin: 15px 15px;
  padding: 12px;
  text-transform: capitalize;
  border-radius: 12px;
  position: relative;
}

img {
  height: 34px;
  width: 34px;
  border-radius: 50%;
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
  border: solid black 1px;
}

.cardhead {
  background-color: rgb(181, 215, 247);
  margin: -0.75rem;
  margin-top: -0.75rem;
  margin-bottom: 1rem;
  padding: 1rem 0;
  border-top-left-radius: 12px;
}

input {
  margin: 50px;
  padding: 12px;
  border-radius: 8px;
  border: solid 1px;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}
